@model Acceptance.ViewModels.Invoice.PaymentsViewModel
@{
    ViewData["Title"] = "Barcha to'lovlar";
    int counter = 1;
}
<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2 class="mb-30">To'lovlar</h2>
                        <a asp-controller="invoice" asp-action="getpayments">Excelni yuklash</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#0">Boshqaruv</a></li>
                                <li class="breadcrumb-item active" aria-current="page">To'lovlar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Ro'yxatga olingan to'lovlar</h6>
                        <p class="text-sm mb-20">Jami qabul qilingan summa: @Model.Payments.Sum(w => w.Sum) so'm</p>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><h6>F.I.O</h6></th>
                                        <th><h6>To'lov miqdori</h6></th>
                                        <th><h6>Sana va vaqt</h6></th>
                                        <th><h6>Ko'proq</h6></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Payments)
                                        {
                                            <tr>
                                                <td><h6 class="text-sm">@counter</h6></td>
                                                <td class="min-width">
                                                    @if(item.Applicant is null){
                                                        <p>@item.Mover.FullName</p>
                                                    }
                                                    @if (item.Mover is null)
                                                    {
                                                        <p>@item.Applicant.FullName</p>
                                                    }
                                                </td>
                                                <td class="min-width">
                                                    <p>@item.Sum so'm</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>@item.DateTime.ToString("dd.MM.yyyy HH:mm")</p>
                                                </td>
                                                <td>
                                                    <div class="action">
                                                        <a class="text-primary" asp-controller="invoice" asp-action="details" asp-route-Id="@item.Id">
                                                            <i class="lni lni-more-alt"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>

                                            counter++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

